:root{
    --primary-color: #F0F8FF;
    --secondary-color: #212;
    --accent-color: #96c8f5;
    --secondary-accent-color: #5e1b5e;
}

*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #F0FFF0;
    display: flex;
    height: 100vh;
    flex-flow: column;
    justify-content: space-between;    
}

header {
    background-color: var(--secondary-color);
    color: var(--primary-color);

    display: flex;
    height: 9vh;
    text-align: center;
    text-align: center;
    text-align: center;
}
header h1.heading{
    
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
}

main {
    height: 81vh;
    display: flex;
    position: relative;    
    
    

    justify-content: center;
    align-items: center;

}

.container {
    position: relative;
    display: flex;
    width: 80%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

.datalist-container {
    position: absolute;    
    display: flex;
    flex-direction: column;

    top: calc(9.5%);
    left: calc(66%);
    text-align: center;
}
.datalist-container input {
    width: 150px;
    height: 21px;
    font-size: 17px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: solid 1px var(--secondary-color);
    border-radius: 5px;
}

.datalist-container label {
    font-size: 18px;
    margin-bottom: 5px;
}


button.language {
    position: absolute;
    top: calc(13.5%);
    left: calc(80%);
    width: 50px;
    height: 25px;
    font-size: 18px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: solid 1px var(--secondary-color);
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
button.language:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.joke-container {

    position: relative;
    display: flex;
    width: 70%;
    height: 60%;
    justify-content: center;
    align-items: center;
    


    /* background-color: rgb(204, 229, 165); */
}

.joke-container p.joke{    
    font-size: 26px;
    
    /* Access with JS */
    display: block; /* Block for this one */
}

.joke-container p.setup {
    position: absolute;
    width: fit-content;
    height: fit-content;
    font-size: 26px;
    top: calc(15%);

    /* Access with JS */
    display: none; /* Block for this one */
}
.joke-container p.delivery {
    width: fit-content;
    height: fit-content; 
    font-size: 22px;

    /* Access with JS */
    display: none; /* Block for this one */
}


#show-delivery {
    position: absolute;    
    width: 50px;
    height: 25px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: solid .5px var(--secondary-color);
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    
    justify-content: center;
    align-items: center;
    bottom: calc(10%);

    /* Access with JS */
    display: none;
}

#show-delivery:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#show-joke{
    position: absolute;
    bottom: calc(10%);
    width: 200px;
    height: 30px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: solid .5px var(--secondary-color);
    border-radius: 10px;
    font-size: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#show-joke:hover {
    cursor: pointer;
    transform: scale(1.05);
}




footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);

    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}
footer a{
    color: var(--accent-color);
}